dmb-wysiwyg {
    .dmb-wysiwyg {
        &__toolbar {
            display: flex;
            margin-bottom: 10px;
            position: relative;
            width: 100%;
    
            &-button {
                align-items: center;
                border: solid 1px;
                border-color: var(--default);
                border-radius: 3px;
                box-shadow: 2px 2px 0 0 var(--default-hover);
                color: var(--default);
                cursor: pointer;
                display: flex;
                float: left;
                font-size: initial;
                height: 2em;
                justify-content: center;
                margin: 2px;
                padding-left: 5px;
                padding-right: 5px;
                width: 2em;
    
                &:active {
                    box-shadow: -1px -1px 1px 0 var(--default-hover);
                }
            }
    
            .fore-palette {
                display: none;
                position: absolute;
                top: 2em;
                width: 10em;
            }

            .palette {
                position: relative;

                &:hover {
                    .fore-palette {
                        display: block;
                    }
                }
            }

            .back-palette {
                position: relative;

                &:hover {
                    .fore-palette {
                        display: block;
                    }
                }
            }
        }

        &__content-content {
            border: solid 1px var(--default);
            min-height: 10em;
            width: 100%;
        }
    }

}