dmb-wysiwyg {

    .dmb-wysiwyg {
        border-radius: 0.2em;
        padding: 2.1em 0 0 0;

        &__toolbar {
            border-left: 1px solid var(--default-hover);
            border-right: 1px solid var(--default-hover);
            border-top: 1px solid var(--default-hover);
            display: flex;
            margin: 0;
            padding: 0;
            position: relative;

            &-button {
                align-items: center;
                box-sizing: border-box;
                color: var(---default);
                cursor: pointer;
                display: flex;
                float: left;
                font-size: initial;
                height: 2em;
                justify-content: center;
                margin: 0;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                width: 2em;

                &:active {
                    box-shadow: -1px -1px 1px 0 var(--default-hover);
                }

                & svg {
                    pointer-events: none;
                }
            }

            .fore-palette {
                display: none;
                position: absolute;
                top: 2em;
                width: 10em;
                z-index: 10;
            }

            .palette {
                position: relative;

                &:hover {
                    .fore-palette {
                        display: block;
                    }
                }
            }

            .back-palette {
                position: relative;

                &:hover {
                    .fore-palette {
                        display: block;
                    }
                }
            }
        }

        &__content-content {
            background-color: var(--default-contrast);
            border: 1px solid var(--default);
            min-height: 10em;
            width: 100%;

            &[hidden] {
                height: 0;
                visibility: hidden;
                width: 0;
            }
        }

        &.v_error textarea{
            border: 1px solid var(--error);
            box-shadow: 0px 0px 20px -0.6em var(--error);
        }

        &.v_error section{
            border: 1px solid var(--error);
            box-shadow: 0px 0px 20px -0.6em var(--error);
        }

        .error-container {
            color: var(--error);
            display: inline-block;
            line-height: 1;
        }

        textarea:focus {
            border: 1px solid var(--success);
            box-shadow: 1px 1px 2px 0 var(--default-hover) inset, 0 1px 1px var(--default-hover) inset, 0 0 8px var(--success);
            color: var(--default);
            outline: 0 none;
        }
    }

    section:focus {
        border: 1px solid var(--success);
        box-shadow: 1px 1px 2px 0 var(--default-hover) inset, 0 1px 1px var(--default-hover) inset, 0 0 8px var(--success);
        color: var(--default);
        outline: 0 none;
    }

    .normal-button {
        border: 1px solid var(--default-hover);
        border-bottom: 0;
        position: absolute;
        right: 4em;
        top: -2em;
        width: 4em;
    }

    .source-button {
        border: 1px solid var(--default-hover);
        border-bottom: 0;
        position: absolute;
        right: -1px;
        top: -2em;
        width: 4em;
    }

    .icon:before {
        font-size: 1.5rem;
    }
}