dmb-menu-button {
    cursor: pointer;
    height: 1em;
    left: 30px;
    position: absolute;
    top: 20px;
    vertical-align: middle;

    .legend {
        display: inline-block;
        height: 1em;
        line-height: normal;
        margin: auto 10px;
        vertical-align: middle;
    }
}
