.dmb-footer {
    background-color: $yellow;
    border-top: solid 1px $black;
    box-shadow: 0 -5px 5px $grey;
    color: $black-darkest;
    bottom: 0;
    height: 5em;
    left: 0;
    padding: 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
}
