.dmb-footer {
    background-color: var(--primary);
    box-shadow: 0 -5px 5px grey;
    color: var(--primary-contrast);
    bottom: 0;
    height: 5em;
    left: 0;
    padding: 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
}
