.button {
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 0 rgba(black, 0.8);
    box-sizing: border-box;
    color: var(--default);
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;

    .text {
        display: inline-block;
    }

    &:focus {
        outline: 0 none;
    }

    &:before {
        color: var(--default);
    }

    &:active {
        box-shadow: -1px -1px 1px 0 rgba(black,0.8);
        transform: translate(3px, 3px);
    }

    &-default {
        background-color: var(--default);
        color: var(--default-contrast);

        &::before {
            color: var(--default-contrast);
        }

        &:hover {
            background-color: var(--default-hover);
        }
    }

    &-primary {
        background-color: var(--primary);
        color: var(--primary-contrast);

        &::before {
            color: var(--primary-contrast);
        }

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    &-error {
        background-color: var(--error);
        color: var(--error-contrast);

        &::before {
            color: var(--error-contrast);
        }

        &:hover {
            background-color: var(--error-hover);
        }
    }

    &-success {
        background-color: var(--success);
        color: var(--success-contrast);

        &::before {
            color: var(--success-contrast);
        }

        &:hover {
            background-color: var(--success-hover);
        }
    }

    &-warning {
        background-color: var(--warning);
        color: var(--warning-contrast);

        &::before {
            color: var(--warning-contrast);
        }

        &:hover {
            background-color: var(--warning-hover);
        }
    }

    &-information {
        background-color: var(--information);
        color: var(--information-contrast);

        &:hover {
            background-color: var(--information-hover);
        }
    }
}
