.button {
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 0 rgba(black, 0.8);
    box-sizing: border-box;
    color: var(--default);
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px var(--default-contrast);

    .text {
        display: inline-block;
    }

    &:focus {
        outline: 0 none;
    }

    &:before {
        color: var(--default);
    }

    &:active {
        box-shadow: -1px -1px 1px 0 rgba(black,0.8);
        transform: translate(3px, 3px);
    }

    &-default {
        background-color: var(--default);
        color: var(--default-contrast);

        &:hover {
            background-color: rgba(var(--default),var(--hover-opacity));
        }
    }
}
