// _dmb-table.scss

.dmb-table {
  clear: both;
  float: none;
  margin: auto;
  overflow-x: auto;
  position: relative;
  width: 100%;

  table {
    border: solid 1px grey;
    border-radius: 10px;
    border-spacing: 0;
    clear: both;
    margin: 15px 0;
    width: 100%;

    thead {
      background-color: white;
      border: solid 1px grey;

      tr {
        background-color: grey;

        th {
          background-color: white;
          border-bottom: solid 1px grey;
          margin: 0;
          padding: 5px;
          text-transform: uppercase;

          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border-right: 1px black dashed;
          color: blue;
          margin: 0;
          padding: 0 5px 5px 5px;

          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-right: 0 none transparent;
          }

          &.truncated {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 350px;
            white-space: nowrap;
          }

          &.actions {
            width: 37px;
            white-space: nowrap;
          }
        }

        &:nth-child(odd) {
          background-color: grey;
        }

        &:hover {
          background-color: rgba(grey,0.6);
        }
      }
    }

    tfoot {
      tr {
        td {
          background-color: rgba(grey,0.6);
          padding-bottom: 10px;
          text-align: center;

          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    .checker-cell {
      width: 40px;
    }
  }
}
