.dmb-header {
    box-shadow: 0 0 5px grey;
    background-color: white;
    border-bottom: solid 0.5em yellow;
    height: 4em;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    h1 {
        margin: 0 auto;
    }

    &-title {
        margin-top: 1em;
    }
}
