dmb-notification {
    border: 2px solid;
    float: left;
    margin-bottom: 0.5em;
    min-height: 1em;
    padding: 1em;
    position: relative;
    width: 100%;

    .wrapper {
        height: 100%;
        width: 100%;
    }

    .close-notification-button {
        cursor: pointer;
        position: absolute;
        right: 2em;
        top: 1em;
        z-index: 1;

        &:before {
            font-size: 2em;
        }
    }

    &.success {
        border-color: var(--success);
        background-color: var(--success-hover);
        color: var(--success-contrast);
    }

    &.error {
        border-color: var(--error);
        background-color: var(--error-hover);
        color: var(--error-contrast);
    }

    &.warning {
        border-color: var(--warning);
        background-color: var(--warning-hover);
        color: var(--warning-contrast);
    }

}
