dmb-text-area {
    box-sizing: border-box;
    display: block;
    padding-bottom: 1em;
    position: relative;

    textarea {
        background-color: var(--default-contrast);
        border: 1px solid var(--default);
        border-radius: 0.5em;
        box-shadow: 1px 1px 2px 0 rgba(black,0.5) inset;
        box-sizing: border-box;
        color: var(--default);
        display: block;
        line-height: normal;
        margin: 0;
        padding: 0.5em 0.5em 0.3em;
        transition: all 0.5s ease-in-out;
        width: 100%;

        &:focus {
            border: 1px solid green;
            box-shadow: 1px 1px 2px 0 rgba(black,0.5) inset, 0 1px 1px rgba(black,0.075) inset, 0 0 8px rgba(green,0.6);
            color: black;
            outline: 0 none;
        }
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 5px;
        overflow: hidden;
        padding-left: 6px;
        text-align: left;
        width: 99%;

        ._error & {
            color: var(--error);
        }
    }

    &.required label:after {
        content: "*";
    }

    .error-container {
        color: var(--error);
        display: none;
        line-height: 1;
    }

    &._error {
        textarea {
            border: 1px solid var(--error);
        }

        .error-container {
            display: inline-block;
        }
    }
}
