.dmb-header {
    header & {
        @include box-shadow(0 0 5px $grey);
        border-bottom: solid 7px $yellow;
        height: 52px;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    h1 {
        font-size: large;
        margin: 5px auto 5px auto;

        @include breakpoint(medium) {
            font-size: small;
            margin-top: 5px;
            width: 70%;
        }
    }

    &-title {
        font-size: 16px;
        margin-top: 15px;
    }
}
