.dmb-pagination {

    .paginate {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 5px;
        text-align: center;

        &-page {
            display: inline-block;
        }

        &-active-page {
            border-bottom: solid 1px var(--default);
        }
    }
}
