:root {
    --primary-200: #FBFDFD;
    --primary-200-contrast: #000000;
    --status-error: #E22028;
    --status-error-contrast: #000000;
    --status-success: #38A838;
    --status-success-contrast: #000000;
    --status-warning: #FFCC00;
    --status-warning-contrast: #000000;
    --status-information: #1AA1E2;
    --status-information-contrast: #000000;
}