:root {
    --primary: #97A1BF;
    --primary-contrast: #FFFFFF;
    --default: #999999;
    --default-contrast: #FFFFFF;
    --error: #F44336;
    --error-contrast: #FFFFFF;
    --success: #63AB71;
    --success-contrast: #FFFFFF;
    --warning: #E09B39;
    --warning-contrast: #FFFFFF;
    --information: #51697C;
    --information-contrast: #FFFFFF;
    --hover-opacity: 0.5;
}